doctype html
html
    head
        include admin_header
        include script
    block body
        p Administrator
        div(class="w3-card-4", id="staff-container")
            header(class="w3-container w3-indigo")
                h1="Dashboard"
            div#student-data-container(class='w3-container')
                #logout(class="w3-container w3-light-gray w3-margin w3-padding")
                    button#logout-btn(class="w3-margin-right w3-right", type="button", onclick="location.href='/logout'") Logout
                table.w3-table-all.w3-hoverable
                    tr
                        th Guardian
                        th Child
                        th View
                    tr
                        td Charles Wolfeschlegelsteinhausenbergerdorff
                        td Christophensen Wolfeschlegelsteinhausenbergerdorff
                        td
                            i(class="fa fa-user-edit w3-large")
                    tr
                        td Mickey Mouse
                        td Mickey Mouse Jr
                        td
                            i(class="fa fa-user-edit w3-large")
                    tr
                        td Donald Duck
                        td Huey Duck
                        td
                            i(class="fa fa-user-edit w3-large")
                    tr
                        td Donald Duck
                        td Dewey Duck
                        td
                            i(class="fa fa-user-edit w3-large")
                    tr
                        td Donald Duck
                        td Louie Duck
                        td
                            i(class="fa fa-user-edit w3-large")
        include admin_script
