doctype html
html
    head
        include patron_header
    body
        #patron-main
            #patron-room-input
                //input#roomnameinput(placeholder='Room Name' focus)
                button#joinvideobtn(title="Join Video Interpreting Session") Video
                button#jointranscriberbtn(title='Speech Transcriber App') Transcriber
            #patron-video-container
        include script
        include patron_script
