doctype html
html
    head
        include videophone_header
    body
        #videochat-main
            #videochat-room-input
                input#roomnameinput(placeholder='Room Name' focus)
                button#joinroombtn join
                button#randomgeneratorbtn(title='Randomly generate a room name') auto
            #videochat-video-container
        include script
        include videophone_script
