doctype html
html
    head
        include videophone_header
    body
        #videochat-main
            #videochat-title-container
                h1 Videochat
                #videochat-room-title
                img(id='exitchat' title="Logout" src="img/white_home.png" width='20')
            #videochat-room-input
                input#roomnameinput(placeholder='Room Name' focus)
                button#joinroombtn join
                button#randomgeneratorbtn(title='Randomly generate a room name') auto
            #videochat-video-container
        include script
        include videophone_script
